{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}
    Por favor, confirme que <a href="mailto:{{ email }}">{{ email }}</a>
    é um endereço de e-mail para o usuário{{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Este link de confirmação de email expirou ou é inválido. Por favor <a href="{{ email_url }}">
        um problema Novo solicitação de confirmação por e-mail</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}