{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
  <div class="container wow fadeIn" , style="width: 100%;">
    <h2 class="my-5 h2 text-center">
      Formulário de pagamento</h2>
    <div class="row">
      <div class="col-md-8 mb-4" ,style="width: 50%;">
        <div class="card">
          <form method="POST" class="card-body">
            {% csrf_token %}

            <h3>Endereço de entrega</h3>

            <div class='hideable_shipping_form'>

              <div class="md-form mb-5">
                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address'
                  class='form-control' />
                <label for="shipping_address" class="">Endereço</label>
              </div>

              <div class="md-form mb-5">
                <input type='text' placeholder='bloco 5' id='shipping_address2' name='shipping_address2'
                  class='form-control' />
                <label for="shipping_address2" class="">Complemento (opcional)</label>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Pais</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Por favor, selecione um país válido.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Zip</label>
                  <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip'
                    class='form-control' />
                  <div class="invalid-feedback">
                    CEP requerido.
                  </div>
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="set_default_shipping"
                  id="set_default_shipping">
                <label class="custom-control-label" for="set_default_shipping">Salvar como endereço de entrega
                  padrão</label>
              </div>

            </div>

            {% if default_shipping_address %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
              <label class="custom-control-label" for="use_default_shipping">Use o endereço de entrega padrão:
                {{ default_shipping_address.street_address|truncatechars:10 }}</label>
            </div>
            {% endif %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
              <label class="custom-control-label" for="set_default_billing">Salvar como um enderço de entrega
                padrão</label>
            </div>
            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                  class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue para o pagamento</button>

        </div>

      </div>

      {% block extra_scripts %}
      <script>
        var hideable_shipping_form = $('.hideable_shipping_form');
        var use_default_shipping = document.querySelector("input[name=Use o endereço de entrega padrão]");

        use_default_shipping.addEventListener('change', function () {
          if (this.checked) {
            hideable_shipping_form.hide();
          } else {
            hideable_shipping_form.show();
          }
        })
      </script>
      {% endblock extra_scripts %}

      </form>
      <div class="col-md-4 mb-4">
        {% include "order_snippet.html" %}
      </div>

    </div>
  </div>
  </div>
</main>

{% endblock content %}