<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/Ponto-das-Variedades-109110110824809" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://www.instagram.com/pontodasvariedadesloja1" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    <p>
      Preços e condições de pagamento exclusivos para compras via internet, podendo variar nas lojas físicas. Ofertas
      válidas na compra de até 5 peças de cada produto por cliente, até o término dos nossos estoques para internet.
      Caso
      os produtos apresentem divergências de valores, o preço válido é o da Sacola de compras.
      Vendas sujeitas a análise e confirmação de dados.
      Endereço: Avenida Maceió - Tabuleiro do Martins, Maceió - AL
    </p>
    <p>
      Ponto das variedades - CNPJ:
    </p>
    <p>
      Endereço: Avenida Maceió - Tabuleiro do Martins, Maceió - AL
    </p>
    <a href=" http://127.0.0.1:8000/ " <a href="https://www.instagram.com/pontodasvariedadesloja1" target="_blank"> – ®
      Ponto das Variedades – Todos os direitos reservadosPonto das Variedades </a>
  </div>
  <!--/.Copyright-->

</footer>