{% extends "base.html" %}


{% block content %}

<main>
  <div class="container wow fadeIn">

    <h2 class="my-5 h2 text-center">Pagamento</h2>

    <div class="row">

      <div class="col-md-12 mb-4">
        <div class="card">

          <script
            src="https://www.paypal.com/sdk/js?client-id=AWQCKhigjvmXw2jb5AG-TlvuXQuPs7TGC9OfiFMw_fD3WF2OpatWGnLQAuU1faJOxpQcv4fJw4doFjnN&currency=USD"></script>

        </div>
      </div>

      {% include "order_snippet.html" %}

    </div>

  </div>
</main>

{% endblock content %}

{% block extra_scripts %}

< script nonce="">
  <div class="col-md-4 mb-4">
    <div id="paypal-button-container"></div>

    <script
      src="https://www.paypal.com/sdk/js?client-id=AWQCKhigjvmXw2jb5AG-TlvuXQuPs7TGC9OfiFMw_fD3WF2OpatWGnLQAuU1faJOxpQcv4fJw4doFjnN&currency=USD"></script>

    <script>

      var total = {{ order.get_total }}
            // Render the PayPal button into #paypal-button-container


            paypal.Buttons({

        style: {
        color: 'blue',
                shape: 'rect',
                label: 'pay',
                height: 40
              },

              // Set up the transaction
              createOrder: function (data, actions) {
                return actions.order.create({
        purchase_units: [{
        amount: {
        value: total
                    }
                  }]
                });
              },

              // Finalize the transaction
              onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
        // Show a success message to the buyer
        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
              }
            }).render('#paypal-button-container');
    </script>

    </script>

    {% endblock extra_scripts %}